body{
  font-family: system-ui;
  margin:0;
  background:#f2f2f2;
  transition:.3s;
}

.dark{
  background:#111;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 16px;
  background:#111;
  color:white;
}

.logo{
  cursor:pointer;
}

.container{
  padding:15px;
}

input{
  width:100%;
  padding:10px;
  margin-bottom:12px;
  border-radius:8px;
  border:1px solid #ccc;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(150px,1fr));
  gap:12px;
}

.card{
  background:white;
  border-radius:14px;
  overflow:hidden;
  box-shadow:0 3px 10px rgba(0,0,0,.1);
  text-align:center;
  padding-bottom:10px;
}

.dark .card{
  background:#222;
}

.card img{
  width:100%;
  height:150px;
  object-fit:cover;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
}

/* CART */
.cart{
  position:fixed;
  right:0;
  top:0;
  width:250px;
  height:100%;
  background:white;
  padding:10px;
  overflow:auto;
}

/* CHAT */
.chat{
  position:fixed;
  bottom:10px;
  right:10px;
  width:260px;
  height:340px;
  background:white;
  border-radius:14px;
  display:flex;
  flex-direction:column;
  box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.chatHeader{
  background:#2563eb;
  color:white;
  padding:8px;
  text-align:center;
}

.chatBody{
  flex:1;
  padding:8px;
  overflow:auto;
  font-size:13px;
}

.chatInput{
  display:flex;
}

.chatInput input{
  flex:1;
}

.hidden{
  display:none;
                                                }
